### Sprint 11
##### Exercici 1

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('delayedflights.csv', index_col=False, warn_bad_lines=True, error_bad_lines=False)
df=df.drop(['Unnamed: 0'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 428.5+ MB

In [3]:
df.head(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

##### separem la base de dades en train i test sets, un 80% i 20% respectivament
després fem una visualització de les estadístiques principals

In [4]:
X = df
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

In [5]:

desc = X_train.describe( include = 'all')
desc1 = X_test.describe( include =  'all')
  
# display
desc

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1549406.0,1.549406e+06,1.549406e+06,1.549406e+06,1.549406e+06,1.549406e+06,1.543717e+06,1.549406e+06,1549406,1.549406e+06,...,1.543717e+06,1.549041e+06,1.549406e+06,1549406,1.549406e+06,997963.000000,997963.000000,997963.000000,997963.000000,997963.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302106,NaN,...,NaN,NaN,NaN,1548891,NaN,NaN,NaN,NaN,NaN,NaN
mean,2008.0,6.110568e+00,1.576078e+01,3.985032e+00,1.518415e+03,1.467330e+03,1.609819e+03,1.634046e+03,NaN,2.183064e+03,...,6.812890e+00,1.823672e+01,3.323854e-04,NaN,3.991207e-03,19.187355,3.701991,15.015429,0.090602,25.268180
std,0.0,3.482737e+00,8.777139e+00,1.996015e+00,4.505300e+02,4.248600e+02,5.484036e+02,4.648153e+02,NaN,1.944821e+03,...,5.270894e+00,1.434508e+01,1.822842e-02,NaN,6.304982e-02,43.539610,21.508731,33.833506,2.058192,41.981883
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,NaN,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,NaN,6.090000e+02,...,4.000000e+00,1.000000e+01,0.000000e+00,NaN,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,NaN,1.541000e+03,...,6.000000e+00,1.400000e+01,0.000000e+00,NaN,0.000000e+00,2.000000,0.000000,2.000000,0.000000,8.000000
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,NaN,3.422000e+03,...,8.000000e+00,2.100000e+01,0.000000e+00,NaN,0.000000e+00,21.000000,0.000000,15.000000,0.000000,33.000000
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,NaN,9.742000e+03,...,2.400000e+02,4.220000e+02,1.000000e+00,NaN,1.000000e+00,1951.000000,1352.000000,1357.000000,392.000000,1316.000000

In [6]:
desc1 = X_test.describe( include =  'all')
desc1

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,387352.0,387352.000000,387352.000000,387352.000000,387352.000000,387352.000000,385931.00000,387352.000000,387352,387352.000000,...,385931.000000,387262.000000,387352.000000,387352,387352.000000,249525.000000,249525.000000,249525.000000,249525.000000,249525.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75496,NaN,...,NaN,NaN,NaN,387234,NaN,NaN,NaN,NaN,NaN,NaN
mean,2008.0,6.113261,15.724228,3.984007,1519.010884,1468.043986,1611.42589,1634.940284,NaN,2189.059739,...,6.813316,18.214129,0.000305,NaN,0.004053,19.147580,3.709889,15.046456,0.088280,25.409594
std,0.0,3.481789,8.772752,1.995772,450.306495,424.393748,547.27416,463.911482,NaN,1944.222214,...,5.284391,14.312342,0.017451,NaN,0.063535,43.572657,21.429510,33.831293,1.874124,42.345373
min,2008.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.00000,0.000000,NaN,1.000000,...,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,3.000000,8.000000,2.000000,1204.000000,1135.000000,1317.00000,1325.000000,NaN,615.000000,...,4.000000,10.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.0,6.000000,16.000000,4.000000,1545.000000,1510.000000,1716.00000,1706.000000,NaN,1548.000000,...,6.000000,14.000000,0.000000,NaN,0.000000,2.000000,0.000000,2.000000,0.000000,8.000000
75%,2008.0,9.000000,23.000000,6.000000,1901.000000,1816.000000,2031.00000,2015.000000,NaN,3427.000000,...,8.000000,21.000000,0.000000,NaN,0.000000,21.000000,0.000000,15.000000,0.000000,33.000000
max,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.00000,2400.000000,NaN,9740.000000,...,200.000000,345.000000,1.000000,NaN,1.000000,2436.000000,1153.000000,1207.000000,280.000000,1303.000000

In [7]:
print(X_train.shape)
print(X_test.shape)

(1549406, 29)
(387352, 29)

The Federal Aviation Administration (FAA) considers a flight to be <b>delayed</b> when it is 15 minutes later than its scheduled time.A cancellation occurs when the airline does not operate the flight at all for a certain reason.

In [8]:
df.isnull().sum()

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

<b>Carrier Delay</b>
Examples of occurrences that may determine carrier delay are: aircraft cleaning, aircraft damage, awaiting the arrival of connecting passengers or crew, baggage, bird strike...

<b>NAS Delay</b>
Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.

<b>Elapsed Time:</b> from Gate to Gate


<b>AirTime:</b> from wheels off to touch down

##### Nova DF amb una selecció de les columnes

In [9]:
airdf=df.iloc[:, [1,3,4,6,8,11,13,14,15,16,17,18,21,23,24,25,26,27,28]]

In [10]:
airdf.head(3)

,Month,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,4,2003.0,2211.0,WN,128.0,116.0,-14.0,8.0,IAD,TPA,810,0,0,NaN,NaN,NaN,NaN,NaN
1,1,4,754.0,1002.0,WN,128.0,113.0,2.0,19.0,IAD,TPA,810,0,0,NaN,NaN,NaN,NaN,NaN
2,1,4,628.0,804.0,WN,96.0,76.0,14.0,8.0,IND,BWI,515,0,0,NaN,NaN,NaN,NaN,NaN

##### nova columna, status, que es pot fer servir després com a target

In [11]:
airdf.loc[airdf['ArrDelay'] < 15, 'status'] = 'ontime'
airdf.loc[airdf['ArrDelay'] >= 15, 'status'] = 'delayed'
airdf.loc[airdf['Cancelled'] == 1, 'status'] = 'cancelled'
airdf.loc[airdf['Diverted'] == 1, 'status'] = 'diverted'

/Users/psans/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/psans/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/psans/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/psans/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/psans/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [12]:
airdf.isnull().sum()

Month                     0
DayOfWeek                 0
DepTime                   0
ArrTime                7110
UniqueCarrier             0
ActualElapsedTime      8387
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
Cancelled                 0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
status                    0
dtype: int64

In [13]:
#proporció de vols retrassats, puntuals, cancel.lats i desviats
airdf['status'].value_counts(normalize=True) * 100
airdf

,Month,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,status
0,1,4,2003.0,2211.0,WN,128.0,116.0,-14.0,8.0,IAD,TPA,810,0,0,NaN,NaN,NaN,NaN,NaN,ontime
1,1,4,754.0,1002.0,WN,128.0,113.0,2.0,19.0,IAD,TPA,810,0,0,NaN,NaN,NaN,NaN,NaN,ontime
2,1,4,628.0,804.0,WN,96.0,76.0,14.0,8.0,IND,BWI,515,0,0,NaN,NaN,NaN,NaN,NaN,ontime
3,1,4,1829.0,1959.0,WN,90.0,77.0,34.0,34.0,IND,BWI,515,0,0,2.0,0.0,0.0,0.0,32.0,delayed
4,1,4,1940.0,2121.0,WN,101.0,87.0,11.0,25.0,IND,JAX,688,0,0,NaN,NaN,NaN,NaN,NaN,ontime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,12,6,1250.0,1617.0,DL,147.0,120.0,25.0,30.0,MSP,ATL,906,0,0,3.0,0.0,0.0,0.0,22.0,delayed
1936754,12,6,657.0,904.0,DL,127.0,78.0,75.0,57.0,RIC,ATL,481,0,0,0.0,57.0,18.0,0.0,0.0,delayed
1936755,12,6,1007.0,1149.0,DL,162.0,122.0,99.0,80.0,ATL,IAH,689,0,0,1.0,0.0,19.0,0.0,79.0,delayed
1936756,12,6,1251.0,1446.0,DL,115.0,89.0,9.0,11.0,IAD,ATL,533,0,0,NaN,NaN,NaN,NaN,NaN,ontime
1936757,12,6,1110.0,1413.0,DL,123.0,104.0,-5.0,7.0,SAT,ATL,874,0,0,NaN,NaN,NaN,NaN,NaN,ontime

In [14]:
#eliminem les columnes
airdf=airdf.drop(['Cancelled'], axis=1)
airdf=airdf.drop(['Diverted'], axis=1)

In [15]:
#eliminem les observacions amb cancel.lacions o desviaments
airdf.drop(airdf[airdf['status'] == 'diverted'].index, inplace = True)
airdf.drop(airdf[airdf['status'] == 'cancelled'].index, inplace = True)

In [16]:
#nova proporció, ara sense cancel.lacions ni desviaments
airdf['status'].value_counts(normalize=True) * 100

delayed    64.691286
ontime     35.308714
Name: status, dtype: float64

##### guardem la nova base de dades per utilitzar-de posteriorment

In [17]:
airdf.to_csv('airdf.csv')